<html lang="en">
<head>
    <title>Springboot and Captcha</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<script type="text/javascript">

     $(document).ready(function () {
        $("#button").click(function () {
            window.location.replace("/home")
        });
    });
</script>

<div>
    <h3>Para validar el proceso, deberás escribir el número que se muestre en pantalla</h3>
    <button id="button" type="submit">Comenzar</button>
</div>
</body>
</html>